<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.googlesignin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleSignin"
        tools:targetApi="31">
        <activity
            android:name=".TimeTableRemoveFActivity"
            android:exported="false" />
        <activity
            android:name=".TimeTableAddFActivity"
            android:exported="false" />
        <activity
            android:name=".TimeTableRemoveActivity"
            android:exported="false" />
        <activity
            android:name=".TimeTableAddActivity"
            android:exported="false" />
        <activity
            android:name=".TimeTableAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Update_StudentActivity"
            android:exported="false" />
        <activity
            android:name=".Update_FacultyActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".RemoveUserActivity"
            android:exported="false" />
        <activity
            android:name=".AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SemesterActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".SEEActivity"
            android:exported="false" />
        <activity
            android:name=".TCIE2Activity"
            android:exported="false" />
        <activity
            android:name=".TCIE1Activity"
            android:exported="false" />
        <activity
            android:name=".ExamActivity"
            android:exported="false" />
        <activity
            android:name=".AboutusActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TopbarActivity"
            android:exported="false" />
        <activity
            android:name=".FriActivity"
            android:exported="false" />
        <activity
            android:name=".ThurActivity"
            android:exported="false" />
        <activity
            android:name=".WedActivity"
            android:exported="false" />
        <activity
            android:name=".TueActivity"
            android:exported="false" />
        <activity
            android:name=".MonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>